.frame {
  border: 1px solid #ccc;
  display: table;
}

.tile {
  background: url(/assets/schunck.jpg) no-repeat;
  border: 1px solid #fff;
  color: transparent;
  display: table-cell;
  float: left;
  height: 158px;
  text-align: center;
  width: 158px;
}

.tile.missing {
  background: transparent;
}
