.frame {
  border: 1px solid #ccc;
  display: table;
}

.tile {
  background: #eee;
  border: 1px solid #fff;
  display: table-cell;
  float: left;
  height: 98px;
  text-align: center;
  width: 98px;
}

.tile.missing {
  background: transparent;
}
